# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=arjuna_pijak

# App Configuration
APP_ENV=development
DEBUG=True

# AI Insight Configuration
# Ambil dari Google AI Studio (Gemma & Gemini)
GEMMA_API_KEY=your_gemma_api_key_here
