# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=arjuna_pijak

# App Configuration
APP_ENV=development
DEBUG=True

# AI Insight Configuration
# Ambil dari NVIDIA API Catalog (build.nvidia.com)
NVIDIA_API_KEY=your_nvidia_api_key_here
